#homeContainer {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/msnbg.jpg);
}

#whiteBorderGlassBox {
  border: 2px rgba(255, 255, 255, .75);
  padding: 8px;
}

/* .homeHeadContainer{ */
/* background-color: rgba(255, 255, 255, 0.50); */
/* } */

.whiteContainerPadded {
  padding: 15px;
}
